[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/az/Desktop/trash-can.desktop]
row=0
col=0

[/home/az/Desktop/network.desktop]
row=1
col=0

[/home/az/Desktop/computer.desktop]
row=2
col=0

[/home/az/Desktop/user-home.desktop]
row=3
col=0

[Trash]
row=6
col=0

[/]
row=7
col=0

[/home/az]
row=8
col=0

